@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1 ,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}


/* ##############################utility classes ##############33 */


.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}
.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-light{
    color: #f4f4f4;
}

.text-gray{
    color: #333
}

.text-red{
    color: red;
}




.header {
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    border: 2px solid white ;
}


.header .navbar .logo{
    float: left;
    font-size: 3.5rem;
}

.header .navbar .nav-items{
    float: right;
}

.header .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: white;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}